$color-principal: white;

html {
    width: auto;
}


body {
    background-color: black;

}

h2 {
    background-color: white ;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 30px;
    margin-bottom: 100px; 
    padding-left: 220px;
    padding-top: 15px;
    padding-bottom: 15px;
}

header {
    background-color: #000000; 
    padding-bottom: 80px;
    .menu-logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
        h1 {
            color: $color-principal;
        }
            ul.menuFlex {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                padding-right: 40px;
                        }   
                    li {
                    list-style: none;
                    border-radius: 10px;
                    padding: 20px;
                    font-family: 'Poppins', sans-serif; 
                   
                        }   
                        a {
                            text-decoration: none;
                            color: $color-principal;
                            font-size: 25px;    
                            }
                          }
footer {
    div {
    margin-bottom: 200px;
    }
    div.footerFlex {
        display:flex ;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
        .icono {
            color: $color-principal;
            font-size: 40px;
            padding-left: 200px;
        }    
}   


h1.tituloFlex {
    display: flex;
    justify-content: flex-start;
}


#contenedor{
    width: 100%;
    display: grid;
    justify-content: center;             
    #proyectos{
            display: grid;
            width: fit-content;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows:  1fr 1fr 1fr; 
            column-gap: 20px;
            row-gap: 30px;
            justify-content: center; 
                img{
                    width:100%;
                     }     
     }
}