<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Procesamiento de Imágenes y Visión por Computadora</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../sass/estilado.scss">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" 
        rel="stylesheet">
        
</head>

<body class="body">
    
    <header>
        <div>
            <nav>
                <ul class="menuFlex">
                    <li><a href="index.html">¡Hola!</a></li>
                    <li><a href="quienes-somos.html">Quienes somos</a></li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li><a href="servicios.html">Servicios</a></li>
                    <li><a id="paddingContactanos" href="contactanos.html">Contactanos</a></li>
                </ul> 
            </nav>
            <h1>Hola!</h1>
        </div>
    </header>

    <main class="container">

        <div class="row">
            <div class="col-lg-6">
                <h2>Algunas palabras...</h2>
                <p class="textoHome">
                   Lorem ipsum dolor sit amet consectetur adipiscing elit, donec eros auctor viverra aliquet porttitor euismod bibendum, ac placerat porta cras tincidunt facilisi. Lectus inceptos vestibulum enim risus dictumst mi scelerisque etiam, cubilia eleifend pretium habitant ac et lacus nulla viverra, varius natoque tristique ornare suscipit aptent praesent. Elementum accumsan sodales ornare per sagittis interdum, ac integer nibh laoreet mauris himenaeos, quis justo commodo malesuada porta.
                </p>
            </div>

            <div class="col-lg-6">
                <img class="imagenHome" src="img/home.jpg" alt="imagen_home" class="img-fluid">    
            </div>
        </div>

        <footer class="row">
            <div class="col-lg-3">
                <p class="colorFooter">hola@hola.com.ar</p>
            </div>
            <div class="col-lg-3">
                <img class="iconoRedes" src="img/instagram.png" alt="icono-instagram">
            </div>
            <div class="col-lg-3">
                <img class="iconoRedes" src="img/facebook.png" alt="icono-facebook">
            </div>
            <div class="col-lg-3">
                <img class="iconoRedes" src="img/whatsapp.png" alt="icono-whatsapp"> 
            </div>
        </footer>


    </main>
</body>
</html>