<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Procesamiento de Imágenes y Visión por Computadora</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../sass/estilado.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" 
        rel="stylesheet">
        
</head>

<body class="body">
    
    <header>
        <div>
            <nav>
                <ul class="menuFlex">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="">Proyectos</a></li>
                    <li><a href="">Publicaciones</a></li>
                    <li><a href="">Integrantes</a></li>
                    <li><a href="">Contactanos</a></li>
                </ul> 
            </nav>
        </div>
    </header>

    <h1>Grupo de Procesamiento de Imágenes y Visión por Computadora</h1>

   


    <div id="contenedor">
        <div id="proyectos">
            <img src="../img/ojo1.jpg">
            <img src="../img/ojo2.jpg">
            <img src="../img/ojo3.jpg">
            <img src="../img/ojo4.jpg">
            <img src="../img/ojo5.jpg">
            <img src="../img/ojo6.jpg">
        </div> 
    </div>

        <footer class="row">
            <div class="col-lg-3">
                <ion-icon class="icono" name="mail-outline"></ion-icon>           
            </div>
            <div class="col-lg-3">
                <ion-icon class="icono" name="logo-instagram"></ion-icon>            
            </div>
            <div class="col-lg-3">
                <ion-icon class="icono" name="logo-facebook"></ion-icon>
            </div>
            <div class="col-lg-3">
                <ion-icon class="icono" name="logo-whatsapp"></ion-icon>            
            </div>
        </footer>


    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
</body>
</html>